@charset "UTF-8";

/*
===== NOTES ========

	last-updated: 2022.3.24

	+1: Element
    +1-1: Element responsive
	+2: Header Area
    +2-1: Header Area responsive
	+3: main Area
    +3-1: main Area responsive
	+4: service page
	+4-1:service page responsive
	

====================
*/
/* ====================================================
	+1: Element
 ==================================================== */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: sans-serif;
    color: #000;
}

p {
    font-size: 1rem;
}

a {
    color: #000;
    text-decoration: none;
}

li{
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

.pc{
    display: inline-block;
}

.sp{
display: none;
}

/* ====================================================
	+1-1: Element responsive
 ==================================================== */

@media screen and (max-width:599px) {

    .pc{
        display: none;
    }
        
    .sp{
        display: inline-block;
    }

}

/* ====================================================
	+2: Header Area
 ==================================================== */

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.hamburger{
    display: none;
}

.gnav-lists {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.gnav-lists li:not(:last-child) {
    margin-right: 50px;
}

.gnav-lists li a {
    display: flex;
    flex-direction: column;
    color: #111;
    text-align: center;
    line-height: 1.6;
}

.gnav-lists  li a span {
    color: #5b8f8f;
    font-size: 13px;
}

/* ====================================================
	+2-1: Header Area responsive
 ==================================================== */

@media screen and (max-width:599px) {

    .button{
        text-decoration: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 0;
    }

    .hamburger {
        display: block;
        width: 40px;
        height: 40px;
        outline: none;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        z-index: 20;
        position: relative;
    }

    .hamburger__line {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        width: 30px;
        height: 3px;
        background-color: #333;
        -webkit-transition: inherit;
        transition: inherit;
    }

    .hamburger__line::before, .hamburger__line::after {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-color: inherit;
        content: '';
        -webkit-transition: inherit;
        transition: inherit;
    }

    .drawer-background {
        position: fixed;
        z-index: 3;
        width: 100vw;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        height: 100vh;
        background-color: #000;
        color: #fff;
        visibility: hidden;
        opacity: 0;
    }
    
    .is-drawerActive .sp-global-menu {
        transform: translateX(0px);
        transition: 0.3s;
    }
    
    .is-drawerActive .drawer-background {
        visibility: visible;
        opacity: 0.8;
        transition: 0.3s;
    }
    
    .sp-global-menu {
        position: fixed;
        z-index: 4;
        width: 280px;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        height: 100vh;
        background-color: #000;
        color: #fff;
        transform: translateX(280px);
        transition: 0.3s;
    }

    .hamburger__line::before {
        top: -8px;
    }

    .hamburger__line::after {
        top: 8px;
    }

    .hamburger[aria-expanded="true"] .hamburger__line {
        background-color: transparent;
    }
    
    .hamburger[aria-expanded="true"] .hamburger__line::before, .hamburger[aria-expanded="true"] .hamburger__line::after {
        top: 0;
        background-color: #fff;
    }
    
    .hamburger[aria-expanded="true"] .hamburger__line::before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
    .hamburger[aria-expanded="true"] .hamburger__line::after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .gnav__lists {
        flex-direction: column;
    }


    .header__wrap {
    display: flex;
    justify-content: space-between;
    max-width: initial;
    }

    .gnav__lists li:not(:last-child) {
    margin-right: 0px;
    }

    .gnav__lists li a {
    color: #fff;
    text-align: center;
    } 

}