@use "mixin"as m;
// @include m.mq(sp) {}

/* ====================================================
	+2: Header Area
 ==================================================== */
@media screen and (max-width:991px) {
    .button {
        text-decoration: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 0;
    }

    .hamburger {
        display: block;
        width: 40px;
        height: 40px;
        outline: none;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        z-index: 20;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .hamburger__line {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        width: 24px;
        height: 2px;
        background-color: m.$green;
        -webkit-transition: inherit;
        transition: inherit;
    }

    .hamburger__line::before,
    .hamburger__line::after {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-color: inherit;
        content: '';
        -webkit-transition: inherit;
        transition: inherit;
    }

    .drawer-background {
        position: fixed;
        z-index: 3;
        width: 100vw;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        height: 100vh;
        background-color: m.$white;
        visibility: hidden;
        opacity: 0;
    }

    .is-drawerActive .sp-global-menu {
        transform: translateX(0px);
        transition: 0.3s;
    }

    .is-drawerActive .drawer-background {
        visibility: visible;
        opacity: 0.8;
        transition: 0.3s;
    }

    .sp-global-menu {
        position: fixed;
        z-index: 4;
        width: 280px;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        height: 100vh;
        background-color: m.$white;
        color: m.$black;
        transform: translateX(280px);
        transition: 0.3s;
    }

    .hamburger__line::before {
        top: -8px;
    }

    .hamburger__line::after {
        top: 8px;
    }

    .hamburger[aria-expanded="true"] .hamburger__line {
        background-color: transparent;
    }

    .hamburger[aria-expanded="true"] .hamburger__line::before,
    .hamburger[aria-expanded="true"] .hamburger__line::after {
        top: 0;
        background-color: m.$green;
    }

    .hamburger[aria-expanded="true"] .hamburger__line::before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .hamburger[aria-expanded="true"] .hamburger__line::after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .header__wrap {
        height: 40px;
        display: flex;
        padding: 0 20px;
        justify-content: space-between;
        max-width: initial;
    }

    .header__logo img {
        height: 40px;
        width: auto;
    }

    .gnav__lists {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        padding-left: 35px;
    }

    .gnav__item {
        margin-top: 30px;
    }

    .gnav__link {
        color: m.$black;
        font-size: 1rem;
        line-height: 1.47;
    }

}

/* ====================================================
	+2-1: Header Area Tablet+PC
 ==================================================== */
@media screen and (min-width:577px) and ( max-width:992px)  {
    .header__wrap {
        height: 80px;
        display: flex;
        justify-content: space-between;
        max-width: initial;
    }

    .header__logo img {
        height: 80px;
        width: auto;
    }
}

@include m.mq(xl) {
    .header__wrap {
        height: 80px;
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header__logo img {
        height: 80px;
        width: auto;
    }

    .hamburger {
        display: none;
    }

    .gnav__lists {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex: 1;
        margin-left: -27px;
    }

    .gnav__item {
        margin-left: 27px;
    }

    .gnav__link {
        color: m.$black;
        text-align: center;
        font-size: 1rem;
        line-height: 1.47;
    }

    .gnav__link .pc-content {
        color: m.$green;
        font-size: 13px;
    }

}